name: CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  security:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install Bandit
      run: pip install bandit

    - name: Run Bandit SAST
      run: bandit -r . --severity-level high

    - name: Build and run containers
      run: |
        docker compose up -d
        sleep 20

    - name: Run OWASP ZAP DAST
      run: docker compose run zap

    - name: Stop containers
      run: docker compose down
