name: CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-scan:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install Bandit
      run: |
        pip install bandit

    - name: Run Bandit SAST
      run: |
        bandit -r . -ll

    - name: Build Docker image
      run: |
        docker build -t devsecops-test .
